* {
    margin: 0;
    padding: 0;
}

/*CARRUSEL*/
.carousel-caption h5{
    color: rgb(80, 210, 80);
}

.carousel-caption p{
   color: yellow ;
}


.logo {
    width: 150px;
    border-radius: 25%;
    display: block;
    margin: 0 auto;
    width: 100px;
}

header {
    background-color: rgb(24, 213, 36);
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
.menu__nav {
    display: flex;
    list-style: none;
    text-align: center;
    gap: 2rem;
    margin-top: 1rem;
}

.menu__nav li a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.menu__nav li a:hover {
    background-color: black;
    color: rgb(2, 222, 2);
    padding: 5px;
    border-radius: 10%;
    transition: all .2s;
    
}

#carouselExampleCaptions {
    width: 800px;
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

btn-wsp:hover {
    text-decoration: none;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;} 
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

#galeria-garden {
    grid-area: galeria;
}

#galeria-garden h2 {
    text-align: center;
    color: white;
    font-family: cursive;
}

.fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}



@media screen and (max-width: 768px) {
    .menu__nav {
        display: block ;
    }

    .fotos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .fotos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .espuma1:hover {
        transform: scale(1.2);
        transition: all 1s;
    }
    .espuma2:hover {
        transform: scale(1.2);
        transition: all 1s;
    }
    .playapanoramica:hover {
        transform: scale(2.2);
        transition: all 1s;
    }
}



#body-ejemplo {
    display: grid;
    grid-template-areas:
    "header-garden"
    "galeria"
    "banners"
    "footer-garden";
    background-image: linear-gradient(to left, green,rgb(45, 45, 230));
}

header {
    grid-area: header-garden;
}

section#galeria-garden {
    grid-area: galeria;
}

section#banners {
    grid-area: banners;
}

.unicos {
    justify-content: end;
    color: white;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;

}

.unicos h1{
    color: rgb(14, 136, 251);
}
#footer-garden {
    grid-area: footer-garden;
    margin-top: 2rem;
    background-color: rgb(94, 145, 94);
    bottom: 0;
}

#footer-garden p {
    font-size: 1.8rem;
    color: white;
    text-align: center;
}

/*CONCTACTO*/

.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #a5e191; 
    padding-left: 30px; 
    padding-right: 30px;
}

input{
    background-color: #becefd; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #1c1ce0; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

textarea{
    background-color: #f4f4f8; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

label{
    display: block; 
    float: center;  
}

button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #3210f2; 
    border-color: hsl(0, 100%, 50%); 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
}

button p{
    color: #fff; 
}

span{
    color: #ab4493; 
}

.aviso{
    font-size: 13px;  
    color: #9e0404;  
}

h1{
    font-size: 39px;  
    text-align: left; 
    padding-bottom: 20px; 
    color: #2e00fa;
}


h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #3907c1;   
}


p{
    font-size: 14px; 
    color: #0e0e0e; 
}


::-webkit-input-placeholder {
color: #a8a8a8;
}


::-webkit-textarea-placeholder {
color: #a8a8a8;
}


.formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
}


.formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
}






